@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Plus+Jakarta+Sans:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slider,
.slick-list,
.slick-track { height: 100%; }

.slick-list { overflow: hidden !important; } /* avoid inner scrollbars */
.slick-slide { height: 100%; }
.slick-slide > div { height: 100%; }

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  font-family: 'Plus Jakarta Sans', sans-serif;
}